/*  Include the font in the default theme or global.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
/* @import url("https://use.typekit.net/xnz8jpt.css"); */ /* Adobe font */
:root {
  --primary-blue: #2458F1;    /* Primary/Blue/Vibrant Blue */
  --gray-900: #0F172A;        /* Neutral / Gray 900 */
  --gray-800: #1E293B;        /* Neutral / Gray 800 */
  --gray-700: #334155;        /* Neutral / Gray 700 */
  --gray-400: #94A3B8;        /* Neutral / Gray 400 */
  --gray-200: #E2E8F0;        /* Neutral/Gray 200 */
  --gray-50:  #F8FAFC;        /* Neutral/Gray 50 */
  --primary-white: #FFFFFF;   /* Primary White */
  --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont,  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-font-sans-serif: var(--font-family-sans-serif);
}
/* end global styles */

/* Mega menu */
.mega-menu {
  background-color: var(--primary-white);
}
.mega-menu .menu-container {
  max-width: 1440px;
  margin: 0 auto;
  transition: .5s;
}
.mega-menu .navbar {
  min-height: 70px;
}
.mega-menu .navbar .navbar-brand {
  margin-right: 30px;
}
.mega-menu .navbar .site-logo {
  vertical-align: revert;
}
.mega-menu .navbar .nav-item {
  margin: 0 2px;
}
.mega-menu .navbar .nav-item .nav-link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--gray-700);
  padding: 12px;
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  /* transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570); */
}
.mega-menu .navbar .nav-item .nav-link:hover {
  color: var(--primary-blue);
}
.mega-menu .navbar .nav-item .nav-icon {
  margin-left: 10px;
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.mega-menu .navbar .dropdown-submenu-item .submenu-nav-icon {
  margin-left: 10px;
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.nav-item--active {
  color: var(--primary-blue) !important;
}
.nav-icon--rotate {
  transform: rotate(-180deg);
}
.nav-icon--rotate path {
  stroke: var(--primary-blue);
}
.mega-menu .navbar .nav-item .nav-link:hover .nav-icon path {
  stroke: var(--primary-blue);
}
.mega-menu .navbar .dropdown-toggle::after {
  display: none;
}
/* Search Box */
.mega-menu .navbar-controls .col:first-child {
  padding-right: 0;
}
.mega-menu .navbar-controls .col:last-child {
  padding-left: 0;
}
.mega-menu .navbar .search-icon:hover {
  opacity: .85;
}
/* Search Feature */
.mega-menu .search-wrapper.active {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.mega-menu .search-wrapper .input-holder {
  height: 52px;
  width: 45px;
  overflow: hidden;
  background: rgba(255,255,255,0);
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.mega-menu .search-wrapper.active .input-holder {
  width: 700px;
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
  background: var(--gray-50);
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.mega-menu .search-wrapper .input-holder .search-input {
  width: 80%;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-800);
  padding: 3px 55px;
  opacity: 0;
  position: absolute;
  top:0px;
  left:0px;
  background: transparent;
  box-sizing: border-box;
  border:none;
  outline:none;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}
.mega-menu .search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.mega-menu .search-wrapper.active .input-holder .search-icon svg path {
  stroke: var(--gray-700);
}
.mega-menu .search-wrapper .input-holder .search-icon {
  width: 25px;
  height: 45px;
  border: none;
  border-radius: 6px;
  background: rgba(0,0,0,0);
  padding: 0;
  outline: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.mega-menu .search-wrapper.active .input-holder .search-icon {
  position: absolute;
  left: 0;
  width: 50px;
  border-radius: 30px;
}
.mega-menu .search-wrapper .close {
  position: absolute;
  z-index: 1;
  top: 14px;
  cursor: pointer;
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
  display: none;
}
.mega-menu .search-wrapper .close svg {
  width: 18px;
  height: 18px;
}
.mega-menu .search-wrapper.active .close {
  right: 0;
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
  padding-right: 14px;
  display: block;
}
.mega-menu .navbar .btn-menu {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: var(--gray-700);
  background-color: var(--primary-white);
  padding: 12px 18px;
  border: 1px solid #94A3B8;
  border-radius: 5px;
  z-index: 1000;
}
.mega-menu .navbar .btn-menu:hover {
  background: var(--gray-50);
}
/* Mega menu dropdown */
.mega-menu .navbar .dropdown-menu {
  left: 0;
  padding: 35px 0;
  border: none;
  margin-top: 0;
  border-radius: 0;
}
.mega-menu .navbar .dropdown-menu .dropdown-divider {
  margin: 18px 0 35px 0;
}
.mega-menu .navbar .dropdown-divider {
  height: 1px;
  background: var(--gray-400);
}
.mega-menu .navbar .dropdown-menu .dropdown-title h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--gray-900);
}
.mega-menu .navbar .dropdown-menu .dropdown-explore {
  text-align: right;
}
.mega-menu .navbar .btn-explore {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: var(--gray-700);
  background-color: var(--primary-white);
  padding: 7px 11px;
  border: 1px solid #94A3B8;
  border-radius: 5px;
}
.mega-menu .navbar .btn-explore:hover {
  background: var(--gray-50);
}
.mega-menu .navbar .dropdown-menu .dropdown-menu-col {
  transition: .5s;
}
.mega-menu .navbar .dropdown-menu .dropdown-label {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--gray-900);
  text-transform: uppercase;
}
.mega-menu .navbar .dropdown-menu ul {
  padding: 0;
  list-style: none;
}
.mega-menu .navbar .dropdown-menu ul li {
  margin: 12px 0;
}
.mega-menu .navbar .dropdown-menu .dropdown-item {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--gray-700);
  padding: 5px 0;
  background: rgba(0,0,0,0);
}
.mega-menu .navbar .dropdown-menu .dropdown-submenu-item {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--gray-700);
  padding: 5px 0;
  background: rgba(0,0,0,0);
  text-decoration: none;
}
.mega-menu .navbar .dropdown-menu .dropdown-item:hover {
  color: var(--primary-blue);
}
.mega-menu .navbar .dropdown-menu .dropdown-submenu-item:hover {
  color: var(--primary-blue);
}
.mega-menu .navbar .dropdown-menu .submenu-item {
  padding: 0 0 0 25px;
  font-weight: 400;
}
/* Signup form */
.mega-menu .navbar .signup-form {
  float: right;
  max-width: 262px;
  background: linear-gradient(78.65deg, #FB551D 11.74%, #C000FF 96.11%);
  padding: 20px 15px 100px 15px;
}
.mega-menu .navbar .signup-form p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-50);
}
.mega-menu .navbar .signup-form .form-group {
  margin: 12px 0;
  border-radius: 4px;
}
.mega-menu .navbar .signup-form .btn-submit {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  background-color: var(--primary-white);
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
}
.mega-menu .navbar .signup-form .btn-submit .btn-submit--gradient {
  background: linear-gradient(78.65deg, #FB551D 11.74%, #C000FF 96.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.mega-menu .navbar .signup-form .btn-submit:hover {
  background: var(--gray-50);
}
.mega-menu .navbar .dropdown-menu-relative {
  position: relative;
}
.mega-menu .navbar .mobile-navbar-contact {
  display: none;
}
.mega-menu .search-wrapper.active .cancel {
  display: none;
  font-size: 12px;
  line-height: 24px;
  color: var(--primary-blue);
}
.display-none {
  display: none;
}
.on-desktop {
  display: block;
}
.on-mobile {
  display: none;
}

/* Media Breakpoints */
@media only screen and (max-width: 1600px) {
  .mega-menu .menu-container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 1332px) {
  .mega-menu .navbar .dropdown-menu .dropdown-menu-col {
    width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  .mega-menu .search-wrapper.active .input-holder {
    width: 425px;
  }
  .mega-menu .navbar .search-icon {
    margin-right: 0;
  }
}
@media only screen and (max-width: 840px) {
  .mega-menu .navbar .nav-item .nav-link {
    padding: 5px;
  }
  .mega-menu .search-wrapper .input-holder {
    width: 40px;
    transition: none;
  }
}
@media only screen and (max-width: 767px) {
  .on-desktop {
    display: none;
  }
  .on-mobile {
    display: block;
  }
  .mega-menu .menu-container {
    padding: 0 20px;
  }
  .mega-menu .navbar-nav {
    padding-top: 25px;
  }
  .mega-menu .navbar .navbar-main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 52px;
  }
  .mega-menu .navbar-controls {
    position: fixed;
    top: 15px;
    right: 20px;
    height: 52px;
  }
  .mega-menu .navbar .navbar-toggler {
    padding: 0;
  }
  .mega-menu .navbar .navbar-toggler-icon {
    display: flex;
    align-items: center;
  }
  .mega-menu .navbar .navbar-brand {
    margin: 0 10px;
    padding: 0;
  }
  .mega-menu .search-wrapper {
    margin-left: 20px;
    margin-right: 10px;
  }
  .mega-menu .search-wrapper.active {
    position: fixed;
    top: 15px;
    left: 15px;
    transform: none;
    margin: 0;
  }
  .mega-menu .search-wrapper .input-holder .search-input {
    width: 100%;
    padding: 3px 45px;
  }
  .mega-menu .search-wrapper.active {
    width: 87%;
  }
  .mega-menu .search-wrapper.active .input-holder {
    width: 100%;
  }
  .mega-menu .search-wrapper .input-holder .search-icon {
    height: 38px;
    transition: none;
  }
  .mega-menu .search-wrapper.active .input-holder .search-icon {
    height: 52px;
  }
  .mega-menu .search-wrapper.active .cancel {
    display: block;
    right: -70px;
  }
  .mega-menu .navbar .btn-menu {
    font-size: 12px;
    line-height: 18px;
    padding: 8px;
  }
  .mega-menu .navbar .nav-item .nav-link {
    padding: 14px 0;
  }
  .mega-menu .navbar .nav-item .nav-item--active {
    font-size: 18px;
    font-weight: 600;
    padding-left: 30px;
  }
  .mega-menu .navbar .nav-item .dropdown-submenu-item .submenu-nav-icon {
    position: absolute;
    right: 0;
    margin-top: 10px;
  }
  .mega-menu .navbar .nav-item .dropdown-submenu-item.nav-item--active {
    padding: 0;
  }
  .mega-menu .navbar .nav-item .dropdown-submenu-item {
    font-size: 12px;
  }
  .mega-menu .navbar .nav-item .nav-item--active svg {
    left: 0;
    width: 14px;
    height: 20px;
    transform: rotate(90deg) !important;
    transition: none;
    margin: 0 5px;
  }
  .mega-menu .navbar .nav-item .nav-item--active .submenu-nav-icon {
    left: revert;
    width: 12px;
    height: 20px;
    transform: rotate(-90deg) !important;
    transition: .5s;
    margin-top: 3px;
  }
  .mega-menu .navbar .nav-item .nav-icon {
    position: absolute;
    right: 0;
    transform: rotate(-90deg);
    margin-top: 7px;
  }
  .nav-icon--rotate {
    transform: rotate(0deg) !important;
  }
  .mega-menu .navbar .dropdown-menu {
    padding: 0;

  }
  .mega-menu .navbar .dropdown-menu .dropdown-menu-col {
    width: 100%;
  }
  .mega-menu .navbar .dropdown-menu .dropdown-divider {
    /* margin: 5px 0 22px 0; */
    margin: -25px 0 0 0;
  }
  .mega-menu .navbar .dropdown-menu .dropdown-item {
    font-weight: 400;
  }
  .mega-menu .navbar .dropdown-menu .dropdown-submenu-item {
    font-weight: 400;
  }
  .mega-menu .navbar .dropdown-menu .dropdown-explore {
    position: relative;
    top: -42px;
    z-index: -1;
  }
  .mega-menu .navbar .mobile-navbar-contact {
    display: block;
  }
  .mega-menu .navbar .dropdown-divider {
    background: var(--gray-200);
    margin: 15px 0;
  }
  .mega-menu .navbar .mobile-navbar-phone {
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-700);
  }
  .mega-menu .navbar .mobile-navbar-phone:hover {
    color: var(--primary-blue);
  }
  .mega-menu .navbar .mobile-navbar-signup .signup-form {
    float: left;
    width: 100%;
    max-width: 100%;
    border-radius: 2px;
    padding: 20px 15px 15px 15px;
  }
  .mega-menu .navbar .mobile-navbar-btn .contact-btn {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 18px;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-700);
    border: 1px solid var(--gray-400);
    border-radius: 2px;
  }
}
@media only screen and (max-width: 576px) {
  .mega-menu .search-wrapper.active {
    width: 76%;
  }
}
